@import 'nib'
@import 'normalize.styl'

// Colors
@import './colors'

// Components

@import './components/header'
@import './components/main'
@import './components/characters'
@import './components/card'
@import './components/favourites'
@import './components/modal'
@import './components/footer'

// Rules
@import './rules'

// Media querys
@import './media/mobile'
@import './media/desktop-1000'
