.Card
  background $blanco
  padding 1em
  margin 3em 0
  &-header
    display flex
    justify-content center
    align-items center
    flex-direction column
    .thumbail
      border-radius 50%
      width 200px
      height 200px
      margin 0
      padding 0
      box-shadow 5px 5px 10px rgba($negro, .2)
      position relative
      top -2.5em
      img
        width 100%
    .info
      .btn
        padding .8em
      .title
        margin .5em 0
        font-weight 700
        text-transform uppercase
      .title > a
        color $negro
        transition color .4s ease-out
        &:hover
          color $rojo

  &-content
    column-count 1
    margin 0
    padding 0
    li
      padding .3em 0
      display flex
      line-height 20px
      align-items center
      a
        flex 1
        color $gris
      &:hover
        a
          color $rojo
        &:before
          display inline-block
      &:before
        content ''
        display none
        background-image url('../assets/icons/link-arrow.png')
        background-size cover
        background-repeat no-repeat
        height 20px
        width 20px
        margin-right .3em

  .subtitle
    margin .5em 0
  a
    text-decoration none
