.Characters
  padding 1em
  flex 1
  &-container
    padding 1em 0
  &-info
    display flex
    justify-content space-between
  h2.icon
    margin 0
    font-weight 700
    display flex
    align-items center
    &:before
      content ''
      background-image url('../assets/icons/characters.png')
      background-repeat no-repeat
      background-size cover
      height 40px
      width 40px

  &-paginator
    margin 1em
    .list
      display flex
      padding 0
      justify-content center
      li
        display inline-block
        margin .5em
        &.active
          a
            box-shadow none
            color $negro
        a
          text-decoration none
          display block
          font-weight bold
          color $gris
          background white
          padding 1em 1.5em
          box-shadow 1px 1px 5px rgba($negro, .3)
