.Characters
  padding 1em
  flex 1
  &-container
    padding 1em 0
  &-info
    display flex
    flex-direction column
    justify-content center
  h2.icon
    margin .3em 0
    font-weight 700
    display flex
    align-items center
    &:before
      content ''
      background-image url('../assets/icons/characters.png')
      background-repeat no-repeat
      background-size cover
      height 40px
      width 40px

  &-detail
    width 100%
    display flex
    flex-direction column
    .info
      padding 1em
      background $blanco
      .thumbnail
        width 50%
        min-width 150px
        max-width 300px
        border-radius 50%
        border 4px solid $negro
        margin 0 auto
        img
          width 100%
      p
        margin 1em

  &-comics
    .subtitle
      text-align center
    ul
      background $blanco
      display flex
      flex-wrap wrap
      justify-content space-around
      margin 0
      padding 1em
      list-style none
      li
        width 30%
        min-width 200px
        max-width 250px
        margin .5em
        .title
          font-size 1em
          margin .5em 0
          a
            color $negro
        .thumbnail
          border 5px solid $negro
          height 40vw
          min-height 300px
          max-height 350px
          width 100%
          transition box-shadow .2s linear
          &:hover
            box-shadow 0px 2px 20px rgba($negro, .8)
          img
            height 100%
            width 100%


  &-paginator
    margin 1em
    .list
      display flex
      padding 0
      justify-content center
      li
        display inline-block
        margin .5em
        &.active
          a
            box-shadow none
            color $negro
        a
          text-decoration none
          display block
          font-weight bold
          color $gris
          background white
          padding 1em 1.5em
          box-shadow 1px 1px 5px rgba($negro, .3)
