.Favourites
  position absolute
  top 70px
  right 0
  height calc(100vh - 70px)
  overflow auto
  transform translateX(100%)
  background white
  transition transform .4s linear
  box-shadow 0 1px 2px rgba(black, .4)
  &.active
    transform translateX(0%)
  .title
    margin .5em 0
    text-align center
  > .title
      display flex
      justify-content center
      &:before
        content ''
        background-image url('../assets/icons/btn-favourites-primary.png')
        background-size cover
        width 30px
        height 30px
        margin-right .2em
  &-list
    margin 0
    padding 1em 1.5em
    list-style none
    .item
      position relative
      width 200px
      margin-bottom 1.5em
    .item > .close
      position absolute
      top -15px
      right -15px
      padding 0
      margin 0
