.Footer
  color $blanco
  background $negro
  &-content
    padding 1em
    display flex
    justify-content space-between
    align-items center
    .copy,
    .logo
      margin 0

    .logo > img
      display block
      width 100%
