.Header
  background $negro
  box-shadow 0 1px 10px rgba($negro, .6)
  padding .5em .8em
  position fixed
  top 0
  width 100%
  height 75px
  z-index 2
  &-content
    align-items center
    display flex
    justify-content space-between
  &-logo
    margin 0 .5em 0 0
  &-search
    flex 1
    padding .3em
    position relative
    max-width 500px
    input
      width 100%
    button
      background none
      border none
      position absolute
      right 0
      top .6em
