.Header
  background $negro
  box-shadow 0 1px 10px rgba($negro, .6)
  padding .5em .8em
  position fixed
  top 0
  width 100%
  // height 75px
  z-index 2
  &-content
    display flex
    justify-content space-between
    max-width 1280px
    margin 0 auto
    align-items center
  &-logo
    margin 0 .5em 0 0
    height 40px
    width 90px
    img
      width 100%
      height 100%
  &-search
    flex 1
    padding .3em
    position relative
    max-width 500px
    input
      padding .6em
      width 100%
    button
      background none
      border none
      position absolute
      right 0
      top .2em
